{# <form action="{{ home_url }}" method="POST" class="subscription">
    <input type="email" name="email" placeholder="Email" required />
    <button type="submit">Subscribe to news</button>
</form> #}

{{ function('do_shortcode', '[newsletter_form form="1"]') }}
